@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @*<ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>*@

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> @User.Identity.GetUserName() <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (User.IsInRole("Educator"))
                    {
                        <li><a href="/Educator"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Dashboard</a></li>
                        <li><a href="/Educator/ProfileSetting"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Account</a></li>
                        <li><a href="/Educator/Inbox"><span class="glyphicon glyphicon-import"></span>&nbsp;&nbsp;Inbox</a></li>
                    }
                    else if (User.IsInRole("Learner"))
                    {
                        <li><a href="/Learner"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Dashboard</a></li>
                        <li><a href="/Learner/ProfileSetting"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Account</a></li>
                        <li><a href="/Learner/Inbox"><span class="glyphicon glyphicon-import"></span>&nbsp;&nbsp;Inbox</a></li>
                    }
                    else if (User.IsInRole("Admin"))
                    {
                        <li><a href="/Admin"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Dashboard</a></li>
                        <li><a href="/Admin/Inbox"><span class="glyphicon glyphicon-import"></span>&nbsp;&nbsp;Inbox</a></li>
                    }

                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

    </ul>
}
