@{
    ViewBag.Title = "Edit Article";
}

<div class="container">

    <div class="row" style="margin-top: 35px;">

        <div class="col-md-3">

            <div class="list-group">
                <span class="list-group-item list-group-title">
                    Menu
                </span>
                <a href="/Educator" class="list-group-item"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Dashboard</a>
                <a href="/Educator/WriteAnArticle" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Write an Article</a>
                <a href="/Educator/UploadContent" class="list-group-item"><span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload Content</a>
                <a href="/Educator/Items" class="list-group-item active"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;My Items</a>
                <a href="/Educator/Discussions" class="list-group-item"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;Discussions</a>
                <a href="/Educator/TextChat" class="list-group-item"><span class="glyphicon glyphicon-font"></span>&nbsp;&nbsp;Text Chat</a>
                <a href="/Educator/VideoConference" class="list-group-item"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;&nbsp;Video Conference</a>
                <a href="/Educator/DesktopSharing" class="list-group-item"><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;Desktop Sharing</a>
                <a href="/Educator/ProfileSetting" class="list-group-item"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Settings</a>
                <a href="/Educator/Revenue" class="list-group-item"><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;Revenue</a>
                <a href="/Educator/Inbox" class="list-group-item">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<span>
                        Message&nbsp; @if (ViewBag.UnreadMessage != 0)
                        {<span id="unreadMessageCount" class="badge">@ViewBag.UnreadMessage</span>}
                    </span>
                </a>
            </div>

        </div>

        <div class="col-md-9">

            <div class="panel panel-default panel-items">
                <div class="panel-heading">
                    <h3 class="panel-title"> Edit Item</h3>
                </div>
                <div class="panel-body">

                    <form style="margin-top:10px;" method="post" action="/Educator/EditItem">
                        <input type="hidden" name="Item_Id" value="@ViewBag.Item.Item_Id" />
                        <input type="text" name="Title" class="form-control" placeholder="Title" value="@ViewBag.Item.Title" />
                        <input type="text" name="Category" class="form-control" data-role="tagsinput" placeholder="Write Tags" style="margin-top:10px; width:100%; margin-bottom: 10px" value="@ViewBag.Item.Category" />

                        <textarea name="Content" style="width:100%; height:400px;">@ViewBag.Item.Content</textarea>

                        <div class="form-group" style="margin-top:10px">
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-primary" value="Done" />&nbsp; &nbsp;
                                <a href="/Educator/Items" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </form>

                </div> <!-- .col-md-10 -->
            </div>
        </div>
    </div>

</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
<script src="~/Scripts/jquery-1.11.0.min.js"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<!-- javascript
================================================== -->
<!-- Load jQuery build -->

<script type="text/javascript" src="~/Scripts/tinymce.min.js"></script>
@*<script type="text/javascript" src="assets/js/bootstrap-tagsinput.min.js"></script>*@


<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        theme: "modern",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview media | forecolor backcolor emoticons",
        image_advtab: true,
        templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
        ]
    });
</script>
