@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Sent Message";
}

<div class="container">

    <div class="row" style="margin-top: 35px;">

        <div class="col-md-3">
           
            <div class="list-group">
                <span class="list-group-item list-group-title">
                    Menu
                </span>
                <a href="/Educator" class="list-group-item"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Dashboard</a>
                <a href="/Educator/WriteAnArticle" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Write an Article</a>
                <a href="/Educator/UploadContent" class="list-group-item"><span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload Content</a>
                <a href="/Educator/Items" class="list-group-item"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;My Items</a>
                <a href="/Educator/Discussions" class="list-group-item"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;Discussions</a>
                <a href="/Educator/TextChat" class="list-group-item"><span class="glyphicon glyphicon-font"></span>&nbsp;&nbsp;Text Chat</a>
                <a href="/Educator/VideoConference" class="list-group-item"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;&nbsp;Video Conference</a>
                <a href="/Educator/DesktopSharing" class="list-group-item"><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;Desktop Sharing</a>
                <a href="/Educator/ProfileSetting" class="list-group-item"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Settings</a>
                <a href="/Educator/Revenue" class="list-group-item"><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;Revenue</a>
                <a href="/Educator/Inbox" class="list-group-item" style="padding-left:30px">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<b>
                        Message&nbsp;&nbsp;@if (ViewBag.UnreadMessage != 0)
                        {<span id="unreadMessageCount" class="badge">@ViewBag.UnreadMessage</span>}
                    </b>
                </a>
                <a href="/Educator/Inbox" class="list-group-item" style="margin-left:15px"><span class="glyphicon glyphicon-import"></span>&nbsp;&nbsp;Inbox</a>
                <a href="/Educator/SentMessage" class="list-group-item active" style="margin-left:15px"><span class="glyphicon glyphicon-export"></span>&nbsp;&nbsp;Sent Message</a>
                <a href="/Educator/ComposeMessage" class="list-group-item" style="margin-left:15px"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Compose Message</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default panel-message">
                <div class="panel-heading">
                    <h3 class="panel-title"> Sent Message</h3>
                </div>

                <div class="panel-body">

                    <div class="input-group col-md-offset-3 col-md-6">
                        <input id="searchTitle" type="text" class="form-control" placeholder="Enter a Title">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="LoadSentMessage()"><span class="glyphicon glyphicon-search"></span> Search</button>
                        </span>
                    </div><!-- /input-group -->
                    <br />
                    <br />
                    <hr />

                    <div id="messageList">
                        @if (ViewBag.MessageCount == 0)
                        {
                            <p class="alert-message">There is no Content to Display</p>
                        }
                        else
                        {
                            foreach (var list in ViewBag.Message)
                            {
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="@list.ProfilePic" style="width: 64px; height: 64px;">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#" class="modal_show_is_here">@list.Title</a></h4> <strong>To:</strong> @list.ToUserName
                                        <div class="modal_body_is_here" style="display:none;">@Html.Raw(list.Body)</div>
                                        <div class="modal_title_is_here" style="display:none;">@list.Title</div>
                                        <div class="modal_to_user_name_is_here" style="display:none;">@list.ToUserName</div>
                                        <div class="modal_from_user_name_is_here" style="display:none;">@list.FromUserName</div>
                                        <div class="modal_message_id_is_here" style="display:none;">@list.Message_Id</div>
                                        
                                        
                                        <input type="hidden" id="body+@list.Message_Id" value="@list.Body" />
                                        <br /><small style="margin-right:10px"><a href="#" onclick="DeleteMessage('@list.Message_Id')">Delete</a></small>
                                        @*<br /><small><a href="/Educator/EditMessage?MessageId=@list.Message_Id">Edit</a></small>&nbsp;&nbsp;<small><a href="/Educator/DeleteMessage?MessageId=@list.Message_Id">Delete</a></small>*@
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>

        </div> <!-- .col-md-10 -->

    </div>

</div><!-- /.container -->

<!-- Modal -->
<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div id="modalContent" class="modal-content">
            <div id="modalHeader" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title">
                    <h4 id="myModalLabel">Modal title</h4>
                    <h5>Data</h5>
                </div>
            </div>
            <div id="modalBody" class="modal-body">
                ...
            </div>
            <div id="modalFooter" class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>

    jQuery(document).ready(function ($) {
        jQuery(document).on('click', '.modal_show_is_here', function () {
            var modal = jQuery(this).closest('.media-body');
            var title = modal.find('.modal_title_is_here').html();
            var body = modal.find('.modal_body_is_here').html();
            var to_username = modal.find('.modal_to_user_name_is_here').html();
            var from_username = modal.find('.modal_from_user_name_is_here').html();
            var message_id = modal.find('.modal_message_id_is_here').html();

            $('#modalHeader').remove();
            $('#modalBody').remove();
            $('#modalFooter').remove();

            $('#modalContent').append('<div id="modalHeader" class="modal-header"></div>');
            $('#modalContent').append('<div id="modalBody" class="modal-body" style="margin-left: 10px">' + body + '</div>');
            $('#modalContent').append('<div id="modalFooter" class="modal-footer"></div>');

            ////Modal Header
            $('#modalHeader').append('<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>');
            $('#modalHeader').append('<h4 class="modal-title" id="myModalLabel">' + title + '</h4>');

            $('#modalFooter').append('<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>');
            //$('#modalFooter').append('<a class="btn btn-primary" href="/Educator/ComposeMessage?messageId=' + message_id + '">Reply</a>');
            $('#modalFooter').append('<a class="btn btn-danger" href="/Educator/DeleteMessage?messageId=' + message_id + '">Delete</a>');

            $('#modal').modal('show');

        });
    });

    function DeleteMessage(messageId) {

        $.getJSON("/Educator/DeleteSentMessage?messageId=" + messageId, function (data) {

            if (data) {
                LoadSentMessage()
            }
            else {
                alert("Error: Message does not marked as read.");
            }
        });
    }

    function LoadSentMessage() {
        var searchTitle = document.getElementById("searchTitle").value.toString().replace(/[ ]/g, "%20");
        $("#messageList").load("/Educator/LoadSentMessage?title=" + searchTitle);
    }
</script>